body {
  padding: 20px 40px;
  background: #ccc;
}
input {
  display: block;
}
.signup {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
label {
  margin-top: 15px;
  margin-bottom: -5px;
}
.photo {
  margin-top: 10px;
  margin-left: 50px;
}

.avatar {
  width: 150px;
  height: 150px;
  background-color: #000;
  margin-bottom: 15px;
}

.photo button {
  margin-bottom: 7px;
}
